<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.uni.userBaseInfo1.mapper.AddrCityMapper" >
  <resultMap id="BaseResultMap" type="edu.uni.userBaseInfo1.bean.AddrCity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="city_zh" property="cityZh" jdbcType="CHAR" />
    <result column="city_en" property="cityEn" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="BIGINT" />
    <result column="state_code" property="stateCode" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, city_zh, city_en, code, state_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="edu.uni.userBaseInfo1.bean.AddrCityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from addr_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from addr_city
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByStateCode" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from addr_city
    where state_code = #{state_code,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from addr_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="edu.uni.userBaseInfo1.bean.AddrCityExample" >
    delete from addr_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="edu.uni.userBaseInfo1.bean.AddrCity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into addr_city (city_zh, city_en, code, 
      state_code)
    values (#{cityZh,jdbcType=CHAR}, #{cityEn,jdbcType=CHAR}, #{code,jdbcType=BIGINT}, 
      #{stateCode,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.uni.userBaseInfo1.bean.AddrCity" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into addr_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cityZh != null" >
        city_zh,
      </if>
      <if test="cityEn != null" >
        city_en,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="stateCode != null" >
        state_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cityZh != null" >
        #{cityZh,jdbcType=CHAR},
      </if>
      <if test="cityEn != null" >
        #{cityEn,jdbcType=CHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=BIGINT},
      </if>
      <if test="stateCode != null" >
        #{stateCode,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="edu.uni.userBaseInfo1.bean.AddrCityExample" resultType="java.lang.Integer" >
    select count(*) from addr_city
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update addr_city
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cityZh != null" >
        city_zh = #{record.cityZh,jdbcType=CHAR},
      </if>
      <if test="record.cityEn != null" >
        city_en = #{record.cityEn,jdbcType=CHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.stateCode != null" >
        state_code = #{record.stateCode,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update addr_city
    set id = #{record.id,jdbcType=BIGINT},
      city_zh = #{record.cityZh,jdbcType=CHAR},
      city_en = #{record.cityEn,jdbcType=CHAR},
      code = #{record.code,jdbcType=BIGINT},
      state_code = #{record.stateCode,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uni.userBaseInfo1.bean.AddrCity" >
    update addr_city
    <set >
      <if test="cityZh != null" >
        city_zh = #{cityZh,jdbcType=CHAR},
      </if>
      <if test="cityEn != null" >
        city_en = #{cityEn,jdbcType=CHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="stateCode != null" >
        state_code = #{stateCode,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uni.userBaseInfo1.bean.AddrCity" >
    update addr_city
    set city_zh = #{cityZh,jdbcType=CHAR},
      city_en = #{cityEn,jdbcType=CHAR},
      code = #{code,jdbcType=BIGINT},
      state_code = #{stateCode,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>